.page-header li a{
	font-size: 200%;
	color: red;
	padding-left: 30px;
	padding-top: 100px;
}

.menu p{
	font-size: 150%;
	padding-bottom: 10px;
}

.btn{
	margin-top: 10px;
	color: white;
	background-color: red;
	border: 1px solid black;
}

.footer ul li{
	margin-top: 40px;
}